<div id="message-content">
  <h1><%= @message.title %></h1>

  <div id="subtitles">
    <h5><%= time_ago_in_words(@message.created_at) %> ago
      <% if user_signed_in? %>
      | <%= link_to "Edit", edit_message_path(@message) %> | <%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </h5>
  </div>

  <p><%= simple_format(@message.description) %></p>
</div>

<div id="show-comments">
  <h2><%= @message.comments.count %> Comments</h2>
  <%= render @message.comments.order("created_at DESC") %>
  <h3> Join the Discussion: </h3>
  <%= render 'comments/form' %>
</div>
